@import "../../styles/Typography.module";
@import "../../styles/Pallette.module";

.selector-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  &:nth-child(2){
    margin-left: 1rem;
  }
  label{
    @include aside-text();
    margin-right: 1rem;
  }
}