@import "../../styles/Buttons.module";

.control-panel-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  button{
    @include button-bg();
    margin-top: 1.25rem;
  }
}