@import "Pallette.module";
@import "Typography.module";

@mixin button-bg($bg: $green-anne) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  &:active {
    background:darken($bg,25%);
  }
}

.btn {
  color:white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration:none;
  border-radius:0.031rem;
  height: 2rem;
  line-height: 2.25rem;
  padding: 1rem 0 0.75rem 0;
  border: 0.313rem solid transparent;
  box-shadow: 0.031rem 0.031rem transparentize($aside-text-grey, 0.9);
  font-family: $main-font-family;
  font-weight: 700;
  text-transform: uppercase;
}

