@import "../../styles/Pallette.module";
@import "../../styles/Typography.module";

@mixin fret-label-helper($size: 1rem, $border: none){
  border: $border;
  border-radius: $size*0.1;
  height: $size;
  width: $size;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  &.tonic{
    .fret-label{
      color: black;
    }
    background-color: transparentize($green-anne, .5);
  }
  &.chromatic{
    .fret-label{
      color: black;
    }
    background-color: transparentize($hot-rod-red, .5);
  }
  &.unset{
    .fret-label{
      color: transparent;
    }
    background-color: transparent;
  }
}

.fret-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  min-height: 5rem;
  min-width: 5rem;
  border: 1px solid $gray-anne;
  &:nth-child(1){
    border-color: transparent;
    min-height: 1.5rem;
    min-width: 1.5rem;
    margin-bottom: 1rem;
  }
  .fret-label-container{
    @include fret-label-helper(2rem);
    .fret-label{
      color: $gray-anne;
      @include header-text();
      font-size: 0.6rem;
    }
  }
  .fret-label-container-open{
    @include fret-label-helper(2rem, 1px solid $gray-anne);
    .fret-label{
      color: $gray-anne;
      @include header-text();
      font-size: 0.6rem;
      font-weight: 600;
    }
  }
}