@import "../../styles/Pallette.module";
@import "../../styles/Typography.module";

@mixin fret-label-helper($size: 1rem, $border: none){
  border: $border;
  border-radius: $size/2;
  height: $size;
  width: $size;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  &.tonic{
    .fret-label{
      color: $jaguar;
    }
    background-color: $green-anne;
  }
  &.chromatic{
    .fret-label{
      color: $soft-wheat;
    }
    background-color: $hot-rod-red;
  }
  &.unset{
    .fret-label{
      color: transparent;
    }
    background-color: transparent;
  }
}

.fret-container{
  display: flex;
  flex-direction: column;
  .fret-label-container{
    @include fret-label-helper(2rem);
    .fret-label{
      color: $gray-anne;
      @include header-text();
      font-size: 0.6rem;
    }
  }
  .fret-label-container-open{
    @include fret-label-helper(2rem, 1px solid $gray-anne);
    .fret-label{
      color: $gray-anne;
      @include header-text();
      font-size: 0.6rem;
      font-weight: 600;
    }
  }
}