@import "../../styles/Pallette.module";
@import "../../styles/Constants.module";
.neck-marker-collection{
  display: flex;
  flex-direction: row;
  height: 4.938rem;
  width: $neck-width;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  background-color: $jaguar;
  &:nth-child(1){
    height: 3.1rem;
    background-color: transparent;
  }
  .neck-marker{
    background-color: $gray-anne;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    &:nth-child(2){
      margin-left: 8.2rem;
    }
  }
}
