@import "../../styles/Pallette.module";
@import "../../styles/Constants.module";

.string-container, .mini-string-container{
  display: flex;
  flex-direction: column;
}

.string-container{
  width: $neck-width;
  &:last-of-type{
    .string-container-inner{
      .fret-container{
        &:not(:nth-of-type(1)){
          border-right: 1px solid $gray-anne;
        }
      }
    }
  }
}

.mini-string-container{
  width: $mini-neck-width;
  &:last-of-type{
    .string-container-inner{
      .fret-container{
        &:not(:nth-of-type(1)){
          border-right: 1px solid $crate;
        }
      }
    }
  }
}
