@import "../../styles/Constants.module";


.neck-container, .mini-neck-brace{
  .neck-strings{
    display: flex;
    flex-direction: row;
  }
  .neck-background{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: -1;
  }
}

.neck-container{
  width: 100%;
  max-width: $neck-width;
}

.mini-neck-brace{
  width: 100%;
  max-width: $mini-neck-width;
}
