@import "../../styles/Typography.module";
@import "../../styles/Constants.module";

.scale-display-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: $neck-width;
   margin-bottom: 0.5rem;
  .scale-display-note{
    margin: 0.25rem;
    @include aside-text();
  }
}