// ToDo: Fix this.
@import "components/String/String.module";
@import "components/Fret/Fret.module";
@import "components/Neck/Neck.module";
@import "components/Selector/Selector.module";
@import "components/ScaleSelector/ScaleSelector.module";
@import "components/ScaleDisplay/ScaleDisplay.module";
@import "components/ControlPanel/ControlPanel.module";
@import "components/ControlToggle/ControlToggle.module";
@import "components/TogglePanelButton/TogglePanelButton.modules";
@import "components/NeckMarker/Neckmarker.module";
@import "styles/Pallette.module";

html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100vh;
}

.three-column-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.piano-brace-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
}

.mini-brace-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
}
.neck-brace-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  .slide-out-container{
    width: $neck-width;
    height: 16rem;
    background-color:$soft-wheat;
    position: absolute;
    padding: 2rem;
    top: -25rem;
    transition: top 400ms ease-in-out;
    border-right: 1px solid $gray-anne;
    border-left: 1px solid $gray-anne;
    border-bottom: 1px solid $gray-anne;

    &.extended{
      top: 0;
    }
  }
  .neck-brace-controls-container{
    display: flex;
    flex-direction: row;
    width: 30.3rem;
    justify-content: space-between;
    align-items: center;
    &.no-scale-display{
      margin-bottom: 2rem;
    }
  }
}
